<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<h3>编辑</h3>
<form action="/edit/{{ edit_book.id }}" method="post">
    <p>书名 <input type="text" name="title" value="{{ edit_book.title }}"></p>
    <p>出版日期 <input type="date" name="pubdate" value="{{ edit_book.pubDate|date:'Y-m-d' }}"></p>
    <p>价格 <input type="text" name="price" value="{{ edit_book.price }}"></p>
    <p>出版社 <input type="text" name="publish" value="{{ edit_book.publish }}"></p>
    <input type="submit">
</form>

</body>
</html>