{% for menu in menu_result.values %}
    <div class="panel panel-default">
{#        <div class="panel-heading btn btn-default" data-toggle="collapse" data-target="#t0{{ menu.menu_id }}" data-parent=".container"> {{ menu.menu__name }}</div>#}
    <div class="panel-heading btn btn-default"  data-target="#t0{{ menu.menu_id }}" data-parent=".container"> {{ menu.menu__name }}</div>
{#                    {% if menu.active %}#}
{#                        <div class="menu-content">#}
{#                    {% else %}#}
{#                        <div class="menu-content hide">#}
{#                    {% endif %}#}
        <ul class="list-group wrap_list collapse" id="t0{{ menu.menu_id }}" style="height: 0px;">
            {% for per in menu.children %}
                <li class="list-group-item">
                    {% if per.active %}
                        <a href="{{ per.url }}" class="active" target="_blank" >{{ per.title }}</a>
                    {% else %}
                        <a href="{{ per.url }}">{{ per.title }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        </div>
{% endfor %}