{#{% load cache %}#}
{% extends 'layout.html' %}




{#{% block left_menu %}#}
{#    {% for menu in menu_result.values %}#}
{#        <div class="menu-item">#}
{#            <div class="menu-title">{{ menu.menu__name }}</div>#}
{#                 {% if menu.active %}#}
{#                     <div class="menu-content">#}
{#                 {% else %}#}
{#                     <div class="menu-content hide">#}
{#                  {% endif %}#}
{##}
{#                <div class="menu-content">#}
{#                    {% for per in menu.children %}#}
{#                        {% if per.active %}#}
{#                            <a href="{{ per.url }}" class="active">{{ per.title }}</a>#}
{#                        {% else %}#}
{#                            <a href="{{ per.url }}">{{ per.title }}</a>#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}
{#{% endblock %}#}

{% block content %}
    <h1>用户列表</h1>
    {% if 'add' in request.permission_codes %}
         <a href="/user/add/">添加用户</a>
    {% endif %}
    <table border="1">
        {% for row in user_list %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.username }}</td>

                {% if 'edit' in request.permission_codes %}
                    <td><a href="/user/edit/{{ row.id }}/">编辑</a></td>
                {% endif %}


                {% if 'del' in request.permission_codes %}

                       <td><a href="/user/del/{{ row.id }}/">删除</a></td>
                {% endif %}

            </tr>
        {% endfor %}
    </table>

     <div class="pager">
        {{ page_html|safe}}
    </div>
   </div>
       </div>
  {% endblock %}