
body {
    margin: 0;
}

.hide {
    display: none;
}

.pg-header {
    height: 48px;
    background-color: #01B4E4;
    line-height: 48px;
}

.pg-header .logo {
    display: inline-block;
    width: 230px;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.pg-content .menu {
    position: absolute;
    top: 48px;
    bottom: 0;
    width: 220px;
    border-right: 1px solid #ddd;
}

.pg-content .menu .title {
    padding: 8px;
    background-color: #FD7B4D;
    border-bottom: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    cursor: pointer;

}

.pg-content .menu .item .children {
}

.pg-content .menu .item .children a {
    border-left: 3px solid transparent;
    display: block;
    padding: 5px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 14px;
}

.pg-content .menu .item .children a.active {
    border-left: 3px solid #f36a5a;
    font-weight: bold;
    background-color: #e7ecf1;
}

.pg-content .body {
    position: absolute;
    top: 48px;
    left: 230px;
    right: 0;
    bottom: 0;
    overflow: scroll;
}
