{% extends 'layout.html' %}

{% block css %}
    <style>
        .pager a{
            display: inline-block;
            padding: 3px 5px;
            margin: 0 3px;
            border: 1px solid #dddddd;
        }
        .pager a.active{
            background-color: cadetblue;
            color: white;
        }

    </style>
{% endblock %}


{% block body %}
    <div>
     {% if 'add' in request.permission_codes %}
          <a href="/host/add">添加</a>
    {% endif %}

    </div>

    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>idc机房</th>
                <th>SN</th>
                <th>远程管理IP</th>
                <th>主机名</th>
                <th>主机ip</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for row in host_list %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.idc }}</td>
                    <td>{{ row.sn }}</td>
                    <td>{{ row.remoteip }}</td>
                    <td>{{ row.hostname }}</td>
                    <td>{{ row.ip }}</td>
                     {% if 'edit' in request.permission_codes %}
                         <td><a href="/host/edit/{{ row.id }}/">编辑</a>
                     {%endif%}
                     {% if 'del' in request.permission_codes %}
                        <a href="/host/del/{{ row.id }}/">删除</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pager">
        {{ page_html|safe}}
    </div>



{% endblock %}

