{#{% extends 'layout.html' %}#}


{#{% block body %}#}
{#    <h1>欢迎登陆：{{ request.session.user_info.username }}</h1>#}
{#{% endblock %}#}


<!DOCTYPE html>
<html lang="zh-CN">
 <head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>公共信息</title>
     <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css">
  <link href="/static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/css/style.css" rel="stylesheet" />
  <!--[if lt IE 9]>
{#<script src="/static/js/html5shiv.js"></script>#}
{#<script src="/static/js/respond.min.js"></script>#}
<![endif]-->
 </head>
 <body>
  <h2 align="center">公共信息</h2>
  <div class="container">


   <div class="panel panel-default">

    <br />
    <div class="panel-heading btn btn-default" data-toggle="collapse" data-target="#t01" data-parent=".container">
      公共信息
    </div>
    <ul class="list-group collapse wrap_list collapse in" id="t01">
     <li class="list-group-item"><a href="http://ops.inc-mtime.com/organization.html" target="_blank">时光网-运维组织架构</a></li>
     <li class="list-group-item"><a href="http://ops.inc-mtime.com/ipresources.html" target="_blank">时光网-机房公网IP段</a></li>
     <li class="list-group-item"><a href="http://ops.inc-mtime.com/ops/page-1.html" target="_blank">时光网-运维体系介绍</a></li>
     <li class="list-group-item"><a href="http://tools.cloudxns.net/index.php/Index/index" target="_blank">DNS检测工具</a></li>
    </ul>
   </div>

   <div class="panel panel-default">
    <div class="panel-heading btn btn-default" data-toggle="collapse"data-target="#t02"  data-parent=".container">
      听云
    </div>
    <ul class="list-group collapse wrap_list" id="t02">
      <li class="list-group-item"><a href="https://account.tingyun.com/cas/login" target="_blank">酒仙,数北,廊坊-听云后台</a></li>
      <li class="list-group-item"><a href="http://lf-tingyun.inc-mtime.com/lens/manager/login" target="_blank">廊坊-听云Server后台</a></li>
    </ul>
   </div>

   <div class="panel panel-default">
    <div class="panel-heading btn btn-default" data-toggle="collapse" data-target="#t03" data-parent=".container">
      工单系统
    </div>
    <ul class="list-group collapse wrap_list" id="t03">
     <li class="list-group-item"><a href="http://192.168.51.109:8080/xadmin/" target="_blank">网络组-运维工单平台</a></li>
     <li class="list-group-item"><a href="http://192.168.51.109:8010/xadmin" target="_blank">大数据-运维工单平台</a></li>
    </ul>

       <div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>
<div class="row">
  <div class="col-md-8">.col-md-8</div>
  <div class="col-md-4">

</div>
<div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-4">.col-md-4</div>
</div>
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div>
   </div>
<div class="row">
  <div class="col-md-3">
<div class="panel panel-default">
    <div class="panel-heading btn btn-default" data-toggle="collapse" data-target="#t04" data-parent=".container">
      工单系统
    </div>
    <ul class="list-group collapse wrap_list" id="t04">
     <li class="list-group-item"><a href="http://192.168.51.109:8080/xadmin/" target="_blank">网络组-运维工单平台</a></li>
     <li class="list-group-item"><a href="http://192.168.51.109:8010/xadmin" target="_blank">大数据-运维工单平台</a></li>
    </ul>
  </div>
      </div>
      <div class="col-md-3">
<div class="panel panel-default">
    <div class="panel-heading btn btn-default" data-toggle="collapse" data-target="#t04" data-parent=".container">
      工单系统
    </div>
    <ul class="list-group collapse wrap_list" id="t04">
     <li class="list-group-item"><a href="http://192.168.51.109:8080/xadmin/" target="_blank">网络组-运维工单平台</a></li>
     <li class="list-group-item"><a href="http://192.168.51.109:8010/xadmin" target="_blank">大数据-运维工单平台</a></li>
    </ul>
  </div>
      </div>
      <div class="col-md-6">
<div class="panel panel-default">
    <div class="panel-heading btn btn-default" data-toggle="collapse" data-target="#t04" data-parent=".container">
      工单系统
    </div>
    <ul class="list-group collapse wrap_list" id="t04">
     <li class="list-group-item"><a href="http://192.168.51.109:8080/xadmin/" target="_blank">网络组-运维工单平台</a></li>
     <li class="list-group-item"><a href="http://192.168.51.109:8010/xadmin" target="_blank">大数据-运维工单平台</a></li>
    </ul>
  </div>
      </div>

   <script src="/static/js/jquery-1.11.1.min.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
  </div>
 </body>
</html>
