<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css" />
</head>
<body>
    <div class="container">
        <h1>列表页面</h1>
        <div>
            <a href="{{ add_url }}" class="btn btn-success">添加</a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for item in header_list %}
                        <th>{{ item }}</th>
                    {% endfor%}
                </tr>
            </thead>
            <tbody>
                {% for row in body_list %}
                <tr>
                    {% for col in row %}
                        <td>{{ col }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</body>
</html>