/**标题列表优化**/
/*.container{*/
	/*margin-top:40px;*/
/*}*/
/*.container .btn{*/
	/*width:30%;*/
	/*border:0;*/
/*}*/
/*.wrap_list{*/
	/*margin-bottom:0;*/
/*}*/
/*.container .wrap_list li{*/
	/*border-width: 1px 0 0 !important;*/
/*}*/



.panel-group{max-height:770px;overflow: auto;}
.leftMenu{margin:10px;margin-top:5px;}
.leftMenu .panel-heading{font-size:14px;padding-left:20px;height:36px;line-height:36px;color:white;position:relative;cursor:pointer;}/*转成手形图标*/
.leftMenu .panel-heading span{position:absolute;right:10px;top:12px;}
.leftMenu .menu-item-left{padding: 2px; background: transparent; border:1px solid transparent;border-radius: 6px;}
.leftMenu .menu-item-left:hover{background:#C4E3F3;border:1px solid #1E90FF;}

.comb-search .item{
    margin: 5px 0;
}
.comb-search .item a{
    border: 1px solid #dddddd;
    display: inline-block;
    padding: 3px 8px ;
}
.comb-search .item a.active{
    background-color: #337ab7;
    color: white;
}